<style>
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10em;
        background-color: black;
        color: white;
        font-size: 0.7em;
    }
</style>
<div id="footer">
    <p>Big Events</p>
    <p>&#169; Richard Almer</p>
</div>