<style>
    #header{
        background-image: url('https://pmcu.co.th/wp-content/uploads/2018/03/banner-event-spaces-1024x280.jpg');
        background-size: cover;
        height: 12em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 4em;
        color: gray;
        text-shadow: black 3px 3px 8px;
    }
</style>
<div id="header">
    <h1>Big Events</h1>
</div>