<style>
    nav{
        background-color: black;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
    }
    li{
        list-style: none;
    }
    .anav{
        text-decoration: none;
        color: white;
        margin: 0 1em;
    }
    .anav:hover{
        color: lightgray;
    }
</style>
<nav>
    <ul>
        <li><a class="anav" href="/">Home</a></li>
        <li><a class="anav" href="/create">Add Event</a></li>
    </ul>
</nav>